<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Salssist</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
<header class="navbar">
  <div class="container nav-inner">
    <a href="{% url 'home' %}" class="logo">Salssist</a>
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'license-index' %}">Licenses</a></li>
        <li><a href="{% url 'checklist-index' %}">Checklist</a></li>
        <li><a href="{% url 'accountant-index' %}">Accounting</a></li>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn">Logout</button>
        </form>
        {% else %}
        <li><a href="{% url 'login' %}" class="btn secondary nav-small">Login</a></li>

      {% endif %}
      
      </ul>
    </nav>
  </div>
</header>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 Salssist</p>
    </footer>
  </body>
</html>
