{% extends 'base.html' %}

{% block content %}
  <h1>My Licenses</h1>
  <a href="{% url 'license-create' %}" class="btn">+ Add License</a>

  {% for license in licenses %}
    <div class="card">
      <h3><a href="{% url 'license-detail' license.pk %}">
        {{ license.type }}
      </a></h3>
      <p>Status: {{ license.get_status_display }}</p>
      <p>Expires: {{ license.exp_date }}</p>
      <a href="{% url 'license-detail' license.id %}" class="btn">View</a>
    </div>
  {% empty %}
    <p>No licenses yet.</p>
  {% endfor %}
{% endblock %}



